{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="my-2">
                Profile Page
            </h3>
            <div class="card border-primary">
                <div class="card-body">
                    <h4 class="card-title">Name: {{teacher.teacherfullname}}</h4>
                    <h5 class="my-2"><b>Status:</b> Teacher</h5>
                    <p class="card-text">Email: {{teacher.teacheremail}}</p>
                    <a href="/logout" class="btn btn-primary my">Logout</a>
                </div>
            </div>
            <!-- <div class="card border-primary"> -->
            <table class="table table-hover " style="margin:35px 0px; border:1px solid rgba(0,0,0,.075);">
                <thead>
                    <tr style="background-color: rgba(0,0,0,.075); color:blue">
                        <th scope="col">Lesson Name</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1: JavaScript Calss'larin irs alamasi</td>
                        <td>
                            <a href=""><i class="bi bi-eye-fill"></i></a>
                            <a href=""><i class="bi bi-pencil-square"></i></a>
                            <a href=""><i class="bi bi-trash-fill"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>2: JavaScript Obeject Oriented Programming</td>
                        <td>
                            <a href=""><i class="bi bi-eye-fill"></i></a>
                            <a href=""><i class="bi bi-pencil-square"></i></a>
                            <a href=""><i class="bi bi-trash-fill"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>3: JavaScript Methods and Functions</td>
                        <td>
                            <a href=""><i class="bi bi-eye-fill"></i></a>
                            <a href=""><i class="bi bi-pencil-square"></i></a>
                            <a href=""><i class="bi bi-trash-fill"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>4: Python Flask</td>
                        <td>
                            <a href=""><i class="bi bi-eye-fill"></i></a>
                            <a href=""><i class="bi bi-pencil-square"></i></a>
                            <a href=""><i class="bi bi-trash-fill"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- </div> -->
        </div>
    </div>
</div>
<div class="container marg">
    <div class="row justify-content-center">
        <div class="col-9 ">
            <!-- =====Brand Start==== -->

            <!-- =====Brand End==== -->
        </div>
    </div>
</div>
{% endblock content %}